ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.settings-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.light-mode-settings {
    align-items: center;
    justify-content: center;
}