.header-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    border-bottom: 1px solid black;
    grid-area: header;
}

.settings-container {
  display: flex;
  z-index: 3;
  justify-content: center;
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  height: 90%;
  overflow-y: hidden;
  background-color: var(--transparent-bg);
  color: #FFFFFF;
  font-size: 50px;
}

.settings-open-false {
  visibility: hidden;
}

/* --------- Settings Icon --------- */

.bar1, .bar2, .bar3 {
  transition: transform 0.4s;
}

@media (prefers-reduced-motion) {
  .bar1, .bar2, .bar3 {
    transition: none;
  }
}

.settings-icon {
    min-height: 40px;
    font-size: 0px;
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 0px;
    border: 2px solid var(--dark-bg);
    margin: 3px 0;
  }
  
  .settings-true .bar1 {
    transform: translate(0, 7px) rotate(-45deg);
  }
  
  .settings-true .bar2 {
    transform: translate(0, 0px) rotate(-405deg)
  }
  
  .settings-true .bar3 {
    transform: translate(0, -7px) rotate(45deg);
  }
  
  /* ------ Settings Menu ----------- */
  
  .settings-button {
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    border: 5px solid var(--dark-bg);
    border-radius: 5px;
    background-color: var(--light-bg);
  }