main {
  text-align: center;
  vertical-align: center;
  line-height: 100vh
}

html,body
{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  min-width: 330px;
}

/* ------ Main Section Settings ------ */

.centering {
  display: flex;
  justify-content: center;
}

.page-layout {
  display: grid;
  height: 100vh;
  width: 100%;
  max-width: 600px;
  grid-template-areas: "heading"
  "display"
  "menu"
  "buttons"
  "footer";
  grid-template-rows: 50px 1fr auto 200px 30px;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.heading, .display-container, .scrolling-menu-container, .button-container, .footer {
  padding: 5px;
  /**/
}

.heading {
  grid-area: heading;
}

.display-container {
  grid-area: display;
  border-top: 1px solid black;
  overflow: auto;
  padding-top: 0px;
}

.scrolling-menu-container {
  grid-area: menu;
  border-top: 1px solid black;
}

.button-container {
  grid-area: buttons;
  display: grid;
  gap: 5px;
  grid: 1fr 1fr / 1fr 1fr 1fr;
  border-top: 1px solid black;
}

.footer {
  display: flex;
  grid-area: footer;
  border-top: 1px solid black;
  justify-content: center;
  align-items: center;
}

/* ------ BG Colors ----- */

.bg-light {
  background-color: white;
  color: black;
  border-color: black;
}

.bg-dark {
  background-color: #333333;
  color: white;
  border-color: white;
}

.bg-classic {
  background-color: #00A023;
  color: #003000;
  border-color: #003000;
}

.button-light {
  color: black;
  background-color: lightgray;
  border-color: black;
}

.button-dark {
  color: white;
  background-color: #444444;
  border-color: whitesmoke;
}

.button-classic {
  color: #003000;
  background-color: #008023;
  border-color: #003000;
}

/* ----- Subsection Settings ----- */

/*.map {}*/

.area {
  padding: 5px;
}

.room-title, .map-title {
  display: flex;
  justify-content: center;
  font-size: 150%;
  font-weight: bold;
  text-decoration: underline;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  z-index: 2;
}

.room-image {
  display: flex;
  justify-content: center;
}

/*.room-description {}*/