@media (prefers-reduced-motion: no-preference) {
/* */
}

html, body {
  height: 100%;
  width: 100%;
  margin: none;
  padding: none;
}

.page {
  display: grid;
  grid-template-areas: "header" "content" "footer";
  grid-template-rows: 50px 90vh auto;
}

.content-div {
  height: 100%;
  grid-area: content;
}